name: CI

on:
  push:
    branches: [master]
    paths:
      - '.cargo/**'
      - '.github/workflows/**'
      - 'crates/**'
      - 'tests/**'
      - 'utils/**'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'
      - '!**.md'
  pull_request:
    paths:
      - '.cargo/**'
      - '.github/workflows/**'
      - 'crates/**'
      - 'tests/**'
      - 'utils/**'
      - 'Cargo.lock'
      - 'Cargo.toml'
      - 'rust-toolchain.toml'
      - 'rustfmt.toml'
      - '!**.md'
  workflow_call:
    inputs:
      ref:
        description: "Git ref to checkout"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BINARYEN_VERSION: version_123
  CARGO_TERM_COLOR: always

jobs:
  main:
    name: Main CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Set up Rust
        uses: dsherret/rust-toolchain-file@v1

      - name: Set up Rust for wasm
        run: rustup component add rust-src --toolchain stable

      - name: Install wasm-opt
        run: |
          sudo wget -c https://github.com/WebAssembly/binaryen/releases/download/$BINARYEN_VERSION/binaryen-$BINARYEN_VERSION-x86_64-linux.tar.gz -O - | sudo tar -xz -C .
          sudo cp binaryen-$BINARYEN_VERSION/bin/wasm-opt /usr/bin/

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Check clippy
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Run tests
        run: cargo test --workspace
